package ${package}.dao;

import ${package}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;
import io.renren.common.base.CrudDao;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends CrudDao<${className}Entity> {

}
