<!DOCTYPE html>
<html>
<head>
    <title>${comments}</title>
	#set($header='<#include "/header.html">')
	#set($footer='<#include "/footer.html">')
	$header
</head>

<body class="childrenBody">
<form class="layui-form" style="width:80%;">
	#foreach($column in $columns)
		#if($column.columnName == $pk.columnName)
            <input type="hidden" class="layui-input ${column.attrname}" name="${column.attrname}">
		#else
            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label">${column.comments}</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input ${column.attrname}" name="${column.attrname}" placeholder="请输入${column.comments}">
                </div>
            </div>
		#end
	#end
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="save${pathName}">提交</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
        </div>
    </div>
</form>
$footer
<script src="${request.contextPath}/statics/js/modules/${lastDir}/${pathName}Form.js?_${.now?long}"></script>
</body>
</html>