layui.use(['form', 'layer'], function () {
    var form = layui.form
    layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery;

    form.on("submit(save${pathName})", function (data) {
        //弹出loading
        var index = top.layer.msg('数据提交中，请稍候', {icon: 16, time: false, shade: 0.8});
        $.ajax({
            type: "POST",
            url: baseURL + '${pathName}/save',
            contentType: "application/json",
            data: JSON.stringify(
                {
				#foreach($column in $columns)
					${column.attrname}: $(".${column.attrname}").val(),
				#end
                }
            ),
            success: function (r) {
                if (r.code === 0) {
                    top.layer.close(index);
                    top.layer.msg("提交成功", {icon: 1});
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();
                } else {
                    top.layer.msg(r.msg, {icon: 2});
                }
            }
        });
        return false;
    })
})