<!DOCTYPE html>
<html>
<head>
    <title>参数管理</title>
    <#include "/header.html">
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
    <input type="hidden" class="layui-input uid" name="uid">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">参数名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input keyword" name="keyword" lay-verify="required" placeholder="请输入参数名">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">参数值</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input value" lay-verify="required" name="value" placeholder="请输入参数值">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="备注" name="remarks" class="layui-textarea remarks"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="saveConfig">提交</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
        </div>
    </div>
</form>
<#include "/footer.html">
<script src="${request.contextPath}/statics/js/modules/sys/configForm.js?_${.now?long}"></script>
</body>
</html>